@{
    ViewBag.Title = "Error Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1><br />
                <h2><a href="/Error">Error System</a></h2>
            </hgroup>
            
        </div>
    </section>
}